* {
    box-sizing:border-box;
    text-align:center;
    font-family: Arial, sans-serif;
}
.limpiar{
    clear:both;
}
section {
    float:left;
}
#nav1, #nav2, article, aside {
    float:left;
    margin:0.5em;
    border:0.1em solid rgb(0, 119, 255);
    padding:1em;
}
#nav1{
    width:24%;
    height:15em;
}
#nav2{
    width:98%;
}
section{
    width:74%;
}
article{
    width:74%;
}
aside{
    width:22%;
}
header, #menu, footer{
    margin:0.5em;
    border:0.1em solid rgb(0, 119, 255);
    padding:1em;
}
article, aside{
    height:10.75em;
}
@media (min-width: 700px) and (max-width: 1200px) {
    * {
        font-family:Calibri, sans-serif;
    }
    #nav2{
        display:none;
    }
    article{
        height:15em;
        width:70%;
        float:left;
    }
    section {
        float:none;
        width:100%;
    }
    aside{
        clear:both;
        height:auto;
        width:98%;
        float:none;
    }

}
@media (max-width: 699px) {
    * {
        font-family:'Times New Roman', serif;
    }
    #nav2{
        display:block;
    }
    #nav1, #nav2, article, aside, section {
        float: none;
        width: 99%;
    }
    #nav1, #nav2, aside, section {
        height:auto;
    }
}