*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans';
    font-size: 16px;
}
a:-webkit-any-link 
{
    text-decoration: none;
}
a:-moz-any-link 
{
    text-decoration: none;
}
a:any-link 
{
    text-decoration: none;
}
/*Cuando no has puesto alt en la imagen*/
a:not([alt]){
    border: 3px solid red;
}
h1, .titulo{
    font-size: 64px;
    text-align:center;
    color:#FF5841;
}
h2{
    font-size:36px;
    text-align:center;
}
/*Inicio*/
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#FFFFFF;
    z-index:10;
    text-align:center;
    padding-bottom:1em;
    border-bottom: 0.1em solid #FFB641;
}
header>h1>a>img{
    margin:1em 1em auto auto;
}
main{
    margin-top:300px;
    display: flex;
    justify-content:space-between;
    padding:1em;
}
aside>h3{
    color:#B85E06;
}
aside>ul>li>a{
    color:inherit;
}
aside>ul>li>a:hover{
    color:#B85E06;
}
aside>ul>li>a[href$=".pdf"]::after{
    content:url('assets/images/pdf.png');
}
h3{
    font-size:24px;
}
nav>ul{
    display: flex;
    justify-content: center;
    margin-top:2em;
    list-style:none;
    text-align:center;
    box-shadow:0px 10px 12px #FFF4DE;
}
nav>ul>li{
    margin:0.5em;
}
nav>ul>li>a{
    font-size:24px;
    color: #FFFFFF;
    background-color:#C53678;
    transition:background-color 0.7s ease, color 1s ease-in-out;
    padding: 0.25em 0.5em;
    border-radius: 0.2em;
    border-color:#8A0843;
}
nav>ul>li>a:hover{
    color: #8A0843;
    background-color:#c5367928;
}
main>section>article{
    padding: 0.75em;
}
main>section{
    margin: 1em;
    width: 58%;
}
aside {
    border: 0.1em solid #FFB641;
    margin:1em;
    padding:0.75em;
    width: 30%;
}
aside>ul{
    list-style-position:inside;
}
footer {
    margin:1em;
    padding:0.75em;
    text-align:center;
    justify-content:space-between;
    align-items:center;
    display:flex;
    flex-direction:column;
    border:0.1em solid #FFB641;
}
#redes-sociales{
    display:flex;
    margin:0.5em;
}
#redes-sociales>a{
    padding:1em;
    transition: transform 1s ease;
}
#redes-sociales>a:hover{
    padding:1em;
    transform: rotate(45deg);
}
footer>div>a{
    color:inherit;
}
footer>div>a:hover{
    color:#B85E06;
}
.footer-text{
    background-color:#FFB641;
    width:100%;
}
#whatsapp{
    position:fixed;
    margin-top:80%;
    margin-left:80%;
    top: 0;
    left: 0;
}
/*Formulario*/
form{
    margin:15% auto;
}
fieldset{
    margin:auto;
    width:50%;
    text-align:center;
    border-color:#c5367945;
}
.form-row{
    padding:0.75em;
}
.form-button{
    text-align:center;
    padding-bottom:0.75em;
}
.boton{
    border-radius: 0.2em;
    padding: 0.5em;
    border-color:#FFB641;
}
.boton:hover{
    background-color:#B85E06;
    color:white;
}
section{
    margin-top:2em;
    text-align:center;
}
#telefono{
    width:auto;
}
input {
    text-align:center;
    transition: background-color 1s ease;
}
textarea {
    transition: background-color 1s ease;
}
input:focus, textarea:focus {
    border-color: #B85E06;
}
input:hover, textarea:hover {
    background-color:#FFF4DE;
}
.caja {
    border: 0.1em solid #FFB641;
    border-radius: 0.2em;
}
label.required::after {
    content: "*";
    color: #C53678;
    margin-left: 5px; 
}
#telefono-contacto>a:link{
    color: #C53678;
}
#telefono-contacto>a:visited{
    color: #8A0843;
}
/*Tabla*/
table{
    margin-top:15%;
    caption-side:bottom;
    table-layout: auto;
    width: 100%;
    text-align:center;
    border-collapse:collapse;
}
tr:first-child{
    background-color: #ffc15cc4;
}
tr:nth-child(odd):not(tr:first-child){ 
    background-color: #FFF4DE;
} 
tr:nth-child(even){ 
    background-color: rgba(128, 255, 0, 0.225);
} 
table, tr, th, td{
    border:0.1em solid #B85E06;
    padding:1em;
}
caption{
    background-color:#FFB641;
    font-size:24px;
    padding:1em;
}
th{
    color:#B85E06;
}
@media (min-width: 700px) and (max-width: 1200px) {
    main {
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
    }
    
}
@media (max-width: 699px) {
    main {
        flex-direction:column;
        align-items:center;
    }
    nav>ul{
        flex-direction:column-reverse;
    }
    .titulo, header>h2{
        display:none;
    }
    #redes-sociales{
        flex-direction:column;
        align-items:center;
    }
}